[submodule "TekEngine-Core/vendor/spdlog"]
	path = TekEngine-Core/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TekEngine-Core/vendor/imgui"]
	path = TekEngine-Core/vendor/imgui
	url = https://github.com/Lucas-van-Dam/imgui
[submodule "TekEngine-Core/vendor/glm"]
	path = TekEngine-Core/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "TekEngine-Core/vendor/GLFW"]
	path = TekEngine-Core/vendor/GLFW
	url = https://github.com/Lucas-van-Dam/glfw
[submodule "Resonance-Core/vendor/assimp"]
	path = Resonance-Core/vendor/assimp
	url = https://github.com/Lucas-van-Dam/assimp
